$icomoon-font-family: 'site' !default;

$site-telepherique: '\e907';
$site-warning: '\e90d';
$site-star: '\e912';
$site-snow: '\e915';
$site-beginer: '\e919';
$site-line_arrow: '\e91a';
$site-family: '\e910';
$site-persone: '\e911';
$site-flash: '\e914';
$site-plain: '\e916';
$site-train: '\e917';
$site-car: '\e918';
$site-calendar: '\e906';
$site-menu: '\e900';
$site-cross: '\e902';
$site-cart: '\e90f';
$site-user: '\e90e';
$site-help: '\e903';
$site-exchange: '\e904';
$site-ticket: '\e905';
$site-chevrron: '\e91b';
$site-chevrron-light: '\e913';
$site-arrow: '\e901';
$site-facebook: '\e908';
$site-Instagram: '\e909';
$site-LinkedIn: '\e90a';
$site-YouTube: '\e90b';
$site-Twitter: '\e90c';
