.OfferContainer {
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  margin-bottom: 170px;

  &:before {
    content: "";
    width: 100%;
    height: 135%;
    transform: skewY(5deg);

    background: $color-grey-background;
    z-index: -1;
    position: absolute;
  }
}

.OfferDetailsContainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-family: $font-Montserrat;
  max-width: 1240px;
  width: 100%;

  &_details {
    max-width: 485px;
  }

  &_subtitle {
    text-transform: uppercase;
    font-weight: 800;
    font-size: $fs_400;
    color: $color-blue
  }

  &_remise {
    background: $color-blue;
    font-size: $fs_400;
    font-weight: 700;
    line-height: 22px;
    color: $color-white;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
  }

  &_title {
    text-transform: uppercase;
    font-family: $font-Eagle;
    font-size: $fs_625;
    line-height: 35px;
    font-weight: 700;
    margin-top: 30px;
  }


  &_description {
    font-weight: 400;
    font-size: $fs_400;
    line-height: 26px;
    margin-top: 20px;
    max-width: 347px;

  }

  &_image {
    border-radius: 270px 0 0 270px;
    height: 350px;
    max-width: 50%;
    width: 100%;
    margin-right: -15px;
    margin-top: 70px;
    object-fit: cover;
    object-position: 75% 75%;
  }

  &_imageReverse {
    border-radius: 0 270px 270px 0;
    height: 350px;
    max-width: 50%;
    width: 100%;
    margin-left: -15px;
    margin-top: -50px;
    object-fit: cover;
    object-position: 75% 75%;
  }


}


@media screen and (min-width: $screen-m) {
  .OfferContainer {

    overflow: hidden;
  }

}

@media screen and (max-width: $screen-m) {

  .OfferDetailsContainer {
    gap: 20px;
  }

}


.rowReverse {
  flex-direction: row-reverse;
}


/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////


.OfferDetailsOverview {
  font-family: $font-Montserrat;
  margin-top: 20px;
  display: flex;
  gap: 18px;
  text-wrap: nowrap;
  //flex-wrap: wrap;
  overflow: visible;

  &_see {
    all: unset;
    color: $color-white;
    background: $color-orange;
    padding: 10px 20px;
    border-radius: 30px;
    line-height: 25px;
    font-size: $fs_450;
    font-weight: 700;
  }

  &_all {
    all: unset;
    justify-content: flex-end;
    color: $color-black;
    border: 1px solid $color-black;
    padding: 10px 20px;
    border-radius: 30px;
    line-height: 25px;
    font-weight: 700;

  }

}
