.OfferDetailsContainerMobile {

  &_right {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 20px;
  }

  &_left {
    display: flex;
    flex-direction: column;
  }

  &_subtitle {
    font-family: $font-Montserrat;
    text-transform: uppercase;
    font-weight: 800;
    font-size: $fs_400;
    color: $color-blue
  }

  &_remise {
    font-family: $font-Montserrat;
    background: $color-blue;
    font-size: $fs_400;
    font-weight: 700;
    line-height: 22px;
    color: $color-white;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
  }

  &_title {
    text-transform: uppercase;
    font-family: $font-Eagle;
    font-size: $fs_625;
    line-height: 35px;
    font-weight: 700;
    margin-top: 30px;
    width: fit-content;

    &_right {
      text-transform: uppercase;
      font-family: $font-Eagle;
      font-size: $fs_625;
      line-height: 35px;
      font-weight: 700;
      margin-top: 30px;
      width: fit-content;
      text-align: right;
    }
  }


  &_description {
    font-family: $font-Montserrat;
    font-weight: 400;
    font-size: $fs_400;
    line-height: 32px;
    margin-top: 20px;

    &_right {
      font-family: $font-Montserrat;
      font-weight: 400;
      font-size: $fs_400;
      line-height: 32px;
      margin-top: 20px;
      text-align: right;
    }
  }
}

.OfferDetailsOverviewMobile {
  &_right {
    font-family: $font-Montserrat;
    font-weight: 700;
    display: flex;
    gap: 18px;
    margin-top: 20px;
    justify-content: flex-end;

  }

  &_left {
    display: flex;
    font-family: $font-Montserrat;
    font-weight: 700;
    margin-top: 20px;
    justify-content: flex-start;

  }

  &_rightImage {
    border-radius: 270px 0 0 270px;
    height: 209px;
    width: 100%;
    margin-right: -15px;
    margin-top: 10px;
    object-fit: cover;
  }

  &_leftImage {
    border-radius: 0 270px 270px 0;
    height: 209px;
    width: 100%;
    margin-left: -15px;
    margin-top: 10px;
    object-fit: cover;
  }
}

.OfferDetailsContainerMobile {
  max-width: 360px;

  &_rightImage {
    border-radius: 270px 0 0 270px;
    max-height: 209px;
    width: 100%;
    margin-right: -15px;
    margin-top: 10px;
    object-fit: cover;
    object-position: 75% 75%;

  }

  &_leftImage {
    border-radius: 0 270px 270px 0;
    max-height: 209px;
    width: 100%;
    margin-left: -15px;
    margin-top: 10px;
    object-fit: cover;
  }
}

.OfferDetailsOverviewMobile {
  &_right, &_left {
    font-size: 16px;
  }
}


/*******************/
/** MEDIA QUERIES **/
/*******************/

@media screen and (max-width: 370px) {
  .OfferDetailsOverviewMobile {
    &_right, &_left {
      font-size: 14px;
    }

    .OfferDetailsContainerMobile {
      &_right {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: flex-end;
      }
    }
  }
}


@media screen and (max-width: 340px) {
  .OfferDetailsOverviewMobile {
    &_right, &_left {
      font-size: 12px;
    }

  }
  .OfferDetailsContainerMobile {
    &_right {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      align-items: flex-end;
    }
  }
}