.productCardResponsive {
  max-width: 300px !important;
  position: relative;
  font-family: $font-Montserrat;
  box-shadow: 4px 4px 10px rgba(17, 17, 17, 0.1);

    &_image {
      width: 100%;
      height: 305px !important;
      object-fit: cover;
    }

  .imageContainer {
    position: relative;
    max-height: 305px;
  }
  &_image {
    object-fit: cover;
  }
}

.productCardHeaderResponsive {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 19px 16px;
  height: auto;
  max-height: 90px;
  width: 100%;
  font-family: $font-Montserrat;
  color: $color-white;
  &_title {
    font-family: $font-Teko;
    font-size: $fs_500;

  }
  &_conscat {
    font-size: $fs_300;

  }
}

.productCardFooterResponsive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  background: $color-white;
  padding: 12px 24px 11px;
  line-height: 1.625rem;


  &_description {
    min-height: 78px;
    font-size: $fs_400;
  }

  &_separator {
    width: 100%;
    border-top: 1px solid $color-grey-background;
  }

  &_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_stockPrice {
    font-size: $fs_500;
    font-weight: 700;
  }

  &_promoPrice {
    font-size: $fs_450;
    text-decoration: line-through;
  }

}


/*******************/
/** MEDIA QUERIES **/
/*******************/

@media screen and (max-width: $screen-xs) {
  .productCardHeaderResponsive{
    &_title {
      font-family: $font-Teko;

    }

    &_offer {
      font-size: $fs_400;
    }

    &_conscat {
      font-size: $fs_300;

    }
  }
  .productCardResponsive {
    max-width: 253px !important;

    &_image {
      height: 305px !important;
      object-fit: cover;    }
  }
  .imageContainer {
    position: relative;
    max-height: 305px;
  }

  .productCardFooterResponsive {
    padding: 12px 20px 11px;



  }
}

