.OfferContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 190px;
  gap: 230px;

  &:before {
    position: absolute;
    z-index: -1;
    top: -100px;
    width: calc(100% + 200px);
    height: calc(100% + 150px);
    content: "";
    transform: skewY(5deg);
    background: $color-grey-background;
  }
}

@media screen and (max-width: $screen-m) {
  .OfferContainer {
    gap: 100px;

    &:before {
      width: calc(100% + 30px);
      height: calc(100% + 190px);
      transform: skewY(5deg);
    }
  }
}

@media screen and (max-width: $screen-s) {
  .OfferContainer {
    gap: 100px;

    &:before {
      position: absolute;
      top: -80px;
      width: calc(100% + 30px);
      height: calc(100% + 190px);
      transform: skewY(20deg);

    }
  }
}