.uam_header {
    height: 90px;
    background-color: $color-grey;

    &_nav {
        display: flex;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 8px;
        align-items: center;
        height: 100%;
    }

    &_logo {
        margin-left: 20px;
    }

    &_userLink {
        flex: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        row-gap: 10px;
        column-gap: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
        color: $color-white;
    }

    &_local {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }
    }

    &_account,
    &_cart {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            line-height: 1.3;
            display: inline-block;
            vertical-align: middle;

            &::before {
                @include fontIcon();
                font-size: 24px;
            }
        }
    }

    &_account {
        .icon {
            &::before {
                content: $site-user;
            }
        }
    }

    &_cart {
        .icon {
            &::before {
                content: $site-cart;
            }
        }
    }

    @media screen and (max-width: $screen-xxs-max) {
        &_userLink {
            display: none;
        }
    }

    @media screen and (max-width: $screen-s-max) {
        &_menu {
            display: none;
        }
    }

    @media screen and (min-width: $screen-m-min) {
        height: 80px;

        &_nav {
            padding-bottom: 0;
        }

        &_logo {
            display: flex;
            align-items: center;
            height: 100%;
        }

        &_burger,
        &_close {
            display: none;
        }

        &_menu {
            flex: auto;
            height: 100%;

            a {
                color: $color-white;
            }
        }

        &_userLink {
            margin-bottom: 10px;
            max-width: 280px;
        }
    }

    @media screen and (min-width: $screen-l-min) {
        &_nav {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
