.roundButton {
  font-family: $font-Montserrat;
  font-size: $fs_450;
  display: flex;
  overflow: visible;
  margin-top: 20px;
  text-wrap: nowrap;
  gap: 18px;

  &_see {
    font-size: $fs_450;
    font-weight: 700;
    line-height: 25px;
    padding: 10px 20px;
    cursor: pointer;
    color: $color-white;
    border-radius: 30px;
    background: $color-orange;
    all: unset;
  }

  &_all {
    font-weight: 700;
    line-height: 25px;
    justify-content: flex-end;
    padding: 10px 20px;
    cursor: pointer;
    color: $color-black;
    border: 1px solid $color-black;
    border-radius: 30px;
    all: unset;
  }
}


/*******************/
/** MEDIA QUERIES **/
/*******************/

@media screen and (max-width: $screen-xs) {
  .roundButton {
    font-size: $fs_400;
    text-wrap: nowrap;
  }
}

@media screen and (max-width: 380px) {
  .roundButton {
    font-size: $fs_300;
    text-wrap: nowrap
  }
}